Host work
    HostName localhost
    Port 30022
    User u4007150

Host workproxy
    HostName localhost
    Port 30022
    User u4007150
    Compression yes
    DynamicForward 30000
    LocalForward 3389 C0025119.getingegroup.local:3389

