Host work
    HostName localhost
    Port 30023
    User u4007150

Host workproxy
    HostName 35.228.73.210
    Port 22
    User starlord
    Compression yes
    DynamicForward 30000
    LocalForward 30023 localhost:30022

